@import url('https://fonts.googleapis.com/css?family=Ovo');

body {
  margin-top: 2em;
  padding: 0;
  font-family: 'Ovo', serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline;
}

li a {
  font-size: 2em;
  text-decoration: none;
  color: black;
}

.active {
  color: #ff4242;
}

.name {
  float: left;
}

.nav {
  padding: 0em 0.5em 0.5em 1em;
  margin: 2em;
}

.nav-item {
  float: right;
  margin-right: 2em;
}

.hover {
  display: inline-block;
  position: relative;
}

.hover::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff4242;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}